<div class="container">

<div class="profile mb-3">
    <div class="name">Nome Cognome</div>
    <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-github"></i>
    </div>
</div>


<div class="image" style="margin-bottom:60px">
    <div class="image-box col-sm-2">IMAGE</div>
</div>


<div class="container">
    <div class="row">
            <div class="parteSinistra col-sm-3" style="text-align:center;" >
                <ul class="menu">
                    <li><a href="#"><i class="fas fa-lock"></i> Password</a></li>
                    <li><a href="#"><i class="fas fa-bell"></i> Notifiche</a></li>
                    <li><a href="#"><i class="fas fa-shield-alt"></i> Sicurezza</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i> Email</a></li>
                </ul>
            </div>

            <div class="parteDestra col-sm-9">
                <form action="#" method="post">
                    <div class="form-group row">
                        <label for="nazionalita" class="col-sm-4 col-form-label">Nazionalità</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nazionalita" name="nazionalita" placeholder="Inserisci la tua nazionalità" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="eta" class="col-sm-4 col-form-label">Età</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="eta" name="eta" placeholder="Inserisci la tua età" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="via" class="col-sm-4 col-form-label">Via</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="via" name="via" placeholder="Inserisci la tua via" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="indirizzo" class="col-sm-4 col-form-label">Indirizzo</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="indirizzo" name="indirizzo" placeholder="Inserisci il tuo indirizzo" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cap" class="col-sm-4 col-form-label">CAP</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cap" name="cap" placeholder="Inserisci il CAP" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2">Modifica</button>
                </form>
            </div>

    </div>
</div>

</div>