<div class="container">
    <form asp-action="UploadImage" asp-controller="Anagrafica" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Seleziona immagine:</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>