<div class="container mt-4">
    <form asp-action="UploadImage" asp-controller="Anagrafica" method="post" enctype="multipart/form-data">
        <!-- Seleziona utente -->
        <div class="col-sm-4 form-group mb-4">
            <label class="mb-1" for="user">Seleziona utente:</label>
            <select name="user" class="form-control">
                <option value="" disabled selected>- Seleziona utente -</option> <!-- Primo elemento non selezionabile -->
                @foreach (var utente in ViewBag.utentiList)
                {
                    <option value="@utente.IdUtente">@utente.Username</option>
                }
            </select>
        </div>

        <!-- Seleziona campo immagine -->
        <div class="col-sm-4 form-group mb-4">
            <label class="mb-1" for="imageField">Seleziona campo immagine:</label>
            <select name="imageField" class="form-control">
                <option value="" disabled selected>- Seleziona immagine -</option> <!-- Primo elemento non selezionabile -->
                <option value="Img1">Img1</option>
                <option value="Img2">Img2</option>
                <option value="Img3">Img3</option>
                <option value="ImmagineProfilo">Immagine del profilo</option>
            </select>
        </div>

        <!-- Seleziona immagine -->
        <div class="col-sm-4 form-group mb-4">
            <label class="mb-1" for="file">Seleziona immagine:</label>
            <input type="file" name="file" class="form-control" />
        </div>

        <!-- Bottone per invio -->
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
