<div class="profile-container">
    <div class="name">Nome Cognome</div>
    <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-github"></i>
    </div>
</div>