/* Stili generali per il contenitore */
.profile-container {
    background-color: #f7f7f7; /* Colore di sfondo */
    padding: 20px; /* Spaziatura interna */
    border-radius: 8px; /* Angoli arrotondati */
    display: flex; /* Flexbox per l'allineamento */
    align-items: center; /* Allineamento verticale al centro */
    height: 100px;
}

/* Stile per il nome e cognome */
.name {
    font-size: 24px; /* Dimensione del font */
    font-weight: bold; /* Grassetto */
    margin-right: auto; /* Allinea il testo a sinistra */
}

/* Stili per le icone social */
.social-icons {
    display: flex; /* Flex per allineare le icone */
    gap: 30px; /* Spazio tra le icone */
}

    /* Stile per le icone */
    .social-icons i {
        color: #888; /* Colore del testo delle icone */
        font-size: 20px; /* Dimensione delle icone */
        transition: color 0.3s; /* Transizione dolce per il colore */
    }

        /* Effetto hover per le icone */
        .social-icons i:hover {
            color: #000; /* Colore al passaggio del mouse */
        }


.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem; /* grande su desktop */
    color: #d3d3d3;
    margin-left: 60px;
    text-align: left;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* Responsività */
@media (max-width: 768px) {
    .image {
        flex-direction: column; /* immagine sopra, nome sotto */
        align-items: center;
        text-align: center;
    }

    .passions-conflict-regular {
        font-size: 3rem; /* più piccolo su tablet/smartphone */
        margin-left: 0;
        margin-top: 20px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
}